
/* mobile design */
@media screen and (min-width: 480px) and (max-width: 767px)  {
    body {
        background-color: black;
        color: white;
    }
   
    
}
@media screen and (min-width: 768px) {
    body {
      background-color: yellowgreen;
    }
    .column {
        width: 220px;
        float: left;
        padding: 15px;
      }
    
  }
@media screen and (min-width: 1180px){
    body {
        background-color: rgb(205, 60, 50);
    }
      .column {
          width: 400px;
          float: left;
          padding: 15px;
        }
}
